*{
		margin:0;
		padding:0;
		font-family:'Microsoft YaHei';
		outline: none;
	}
	a{
		text-decoration:none;
	}
	body{
		width:100%;
	}
	.clear{
		clear:both;
	}
	.box{
		width:100%;
		margin:0 auto;
		overflow:hidden;background: #fff;
		border-bottom:1px solid #e5e5e5;
	}	
	.xybleft{
		margin-left:120px;width:20px;height:20px;float:left
	}
	.header{
		width:1200px;margin:0 auto 20px auto;height:80px;font-size:20px;color:#333;font-weight:bold;position:relative;
	}
	.header_img{
		position:relative;top:15px;margin-right:40px;
	}
	.row{
		width:500px;height:40px;margin:20px 0;
	}
	.row_cn{
		width:600px;height:40px;margin:20px 0;
	}	
	d{
		font-weight:bold;
	}
	.row_yx{
		width:350px;height:40px;margin:10px 0;
	}
	.row_copy{
		width:700px;height:30px;margin:15px 0;line-height:40px;
	}
	.row_copy1{
		width:350px;height:30px;margin:15px 0;line-height:40px;
	}
	.row2{
		width:700px;height:20px;margin:10px 0;color:#2962ff;font-size:12px
	}
	.row3{
		width:700px;height:20px;margin:10px 0;color:#404040;font-size:12px
	}
	.rownm{
		width:600px;height:40px;margin:0px;
	}
	.content{
		width:500px;margin:30px auto 100px auto;overflow:hidden
	}
	.content2{
		width:700px;margin:auto;overflow:hidden;height:200px;border-bottom:1px solid #ccc
	}
	.content3{
		width:700px;margin:auto;overflow:hidden;height:200px;
	}
	.title{
		display:inline-block;width:100px;text-align:right;height:40px;line-height:40px;font-size:12px;color:#333;
	}
	.input_txt{
		width:350px;height:30px;border:1px solid #ccc;text-indent:15px;font-size:12px;
	}
	.select_txt{
		width:350px;height:30px;border:1px solid #ccc;padding:0 2%;font-size:12px;
	}	
	.select_txt2{
		width:350px;height:30px;border:1px solid #ccc;padding:0 2%;font-size:12px;
	}					
	.submit_txt{
		width:300px;height:50px;border:none;padding:0 2%;background:#2962ff;font-size:22px;color:#fff;border-radius:3px;
	}	
	.yhh{
		color:red;margin-right:10px
	}
	
	.row_title{
		color:#2962ff;font-size:14px;font-weight:bold
	}
	.row_title2{
		color:#2962ff;font-size:14px;
	}	
	.yx{
		font-weight:bold;color:#2962ff;
	}
	.yx:hover{
		text-decoration: underline;
	}
	.title{
		display:inline-block;width:100px;text-align:right;height:40px;line-height:40px;font-size:12px;color:#333;
	}
	.input_txt2{
		width:220px;height:30px;border:1px solid #ccc;text-indent:15px;font-size:12px;
	}
	
	#btn{
		width:120px;height:30px;margin-left:3px;background:#2962ff;border:none;color:#fff;font-size:12px;border-radius:3px;cursor:pointer;
	}				
	.submit_txt{
		width:350px;height:50px;border:none;padding:0 2%;background:#2962ff;font-size:22px;color:#fff;border-radius:3px;
	}	
	.inp{margin-left:120px;width:20px;height:20px;float:left;margin-top:15px}
	.submit_txt2{
		width:250px;height:50px;border:none;padding:0 2%;background:#2962ff;font-size:22px;color:#fff;border-radius:3px;
	}	
	.title{
		display:inline-block;width:100px;text-align:right;height:40px;line-height:40px;font-size:12px;color:#333;
	}	
	.action_box{
		width:1200px;overflow:hidden;margin:20px auto;height:40px;border-bottom:2px solid #e5e5e5;text-align:center
	}
	.box_mask{
		width:800px;margin:auto
	}
	.waiwei{
		width:200px;height:38px;line-height:40px;float:left;background:#fff;border-bottom:2px solid #ff800f;text-align:center
	}
	.waiwei1{
		width:200px;height:38px;line-height:40px;float:left;background:#fff;border-bottom:2px solid #fff;text-align:center
	}
	.neiwei{
		width:80px;height:40px;float:left;text-align:right
	}
	.radius{
		width:20px;height:20px;border-radius:20px;line-height:20px;text-align:center;background:#ff800f;font-size:12px;color:#fff;margin-top:10px;margin-left:50px
	}
	.radius1{
		width:20px;height:20px;border-radius:20px;line-height:20px;text-align:center;background:#ccc;font-size:12px;color:#fff;margin-top:10px;margin-left:50px
	}
	.name{
		width:120px;overflow:hidden;;text-align:left;height:40px;float:left;font-size:14px;color:#000;font-weight:bold
	}
	.name1{
		width:120px;overflow:hidden;;text-align:left;height:40px;float:left;font-size:14px;color:#999;font-weight:bold
	}	
	.hover:hover{
		cursor:pointer;
		background:#0d36a6;
	}
	.redtext{
		margin-left:120px;font-size:10px;color:red
	}