.Bot{
	width:1200px;height:170px;margin:20px auto
}
.Bot .Bot_Subscribestyle{
	display:none;width:400px;height:150px;float:left;
}
.Bot .Bot_Subscribestyle .Subscribestyle_txt{
	font-size:16px;color:#333;text-align:left;
}
.Btn_mask{
	margin-top:10px;margin-left:-50px;
}
.Btn_mask .Btn_mask_text{
	display:inline-block;width:250px;height:30px;font-size:12px;color:#aaa;text-indent:10px;outline:none;border:1px solid #ccc;
}
.Btn_mask .Btn_mask_submit{
	background:#2962ff;width:100px;height:33px;border:0px;border-bottom:5px solid #2962ff;border-top:1px solid #2962ff;font-size:16px;color:#fff;outline:none;cursor:pointer;
}
.Btn_mask_down{
	margin-top:10px;font-size:12px;color:#999;text-align:left;
}
.Bot .Btn_txt{
	width:300px;height:150px;float:left;margin-left:60px;overflow:hidden;
}
.Bot .Btn_txtnm{
	width:300px;height:150px;float:left;margin-left:0px;overflow:hidden;
}
.Btn_txt1{
	display:block;font-size:16px;color:#333;text-align:left;text-decoration:none;
}
.Btn_txt1:hover{
	text-decoration:none;
	cursor:default;
}
.Btn_txt2{
	display:block;margin-top:8px;font-size:12px;color:#888;text-align:left;
}
.Btn_txt2:hover{
	text-decoration:underline;
}
.Bot .QR_code{
	width:110px;height:140px;float:right;
}
.Bot .QR_code .QR_code_txt{
	font-size:16px;color:#333;text-align:left;
}
.Bot .QR_code .QR_code_img{
	margin-top:10px;width:100px;height:100px
}
.footer{width:100%;text-align:center;margin-top:1px;background:#fff;overflow:hidden;}
.footer_help{border-left:1px solid #303030;border-right:1px solid #303030;}
.footer_y{height:35px;line-height:35px;background:#333;color:#aaa;text-align:center;font-size:13px;}